<!DOCTYPE html>

<html>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<head>
		<title>Gerenciar Taxas</title>
		<script th:src="@{gerenciar_taxas.js}" type="text/javascript"></script>
	</head>
    
    <body>
      <style>
    body{
    	background-color: #6b6b69;
    	color: #333333;
    	font-family: Arial, sans-serif;
    }
    

    .estacionamento-navrgb{   	
         background-color: #ffc52b;
    	color: #ffc52b;
    	font-family: Arial, sans-serif;
    }
    
    
    nav{
       background-color: #ffc52b;
    	color: #333333;
    }
    
        
</style>
       
    
    
    </body>
    
    
</html>
    
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-faded estacionamento-navbar" style="background-color: #ffc52b; border-color: #000;">
            <div class="container">
                <a class="navbar-brand" href="/">JaValet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                
              
                </div>
            </div>
        </nav>
    </header>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script> 
   
    </script>
      <div class="container" alignt="center">
       <br/>
    	<h1><p class="text-light">Gerenciamento de Taxas:</p></h1>
		<form th:object="${estacionamento}" th:action="@{/update_estacionamento}" method="post">
			<select onchange="estacionamentoDropdownChanged()" th:field="*{id}" id="estacionamento_selector">
			<option th:each="est: ${estacionamentos}"
				th:value="${est.id}"
				th:text="${est.nome}"
				></option>
		</select>
		<br/>
		<label for="taxa_base" class="text-light">Taxa de Entrada</label>
		<input id="taxa_base" th:field="*{taxa_base}" name="taxa_base"/>
	
		<br/>
		<label for="taxa_horaria" class="text-light">Taxa Horária</label>
		<input id="taxa_horaria" th:field="*{taxa_horaria}" name="taxa_horaria"/>

		<br/>
		<label for="taxa_diaria" class="text-light">Taxa Mensal</label>
		<input id="taxa_diaria" th:field="*{taxa_diaria}" name="taxa_diaria"/>

		<br/>
		<label for="taxa_semanal" class="text-light">Taxa Semanal</label>
		<input id="taxa_semanal" th:field="*{taxa_semanal}" name="taxa_semanal"/>

		<br/>
		<label for="taxa_mensal" class="text-light">Taxa mensal</label>
		<input id="taxa_mensal" th:field="*{taxa_mensal}" name="taxa_mensal"/>
		<br/>
		 <input type="submit" class="btn btn-warning" value="Atualizar"/> 
	</form>
	<span style='color: "lime";' th:if="${updateSuccess} != null" th:text="${'Taxas para ' + estacionamento.nome + ' atualizadas com sucesso.'}"></span>
    
    
 
  


