<form th:object="${servico}" th:action="@{/servico_post}" method="post">

Tipo de Servico:
<select th:field="*{tipo_servico}">
	<option th:value="HORARIA">Horária</option>
	<option th:value="DIARIA">Diária</option>
	<option th:value="SEMANAL">Semanal</option>
	<option th:value="MENSAL">Mensal</option>
</select>

Estacionamento:

<select th:field="*{estacionamento.id}">
	<option th:each="est: ${estacionamentos}" th:text="${est.nome}" th:value="${est.id}"></option>
</select>

Veículo:
<span th:if="${veiculos != null}">
<select th:field="*{veiculo.id}">
	<option th:each="vei: ${veiculos}" th:text="${vei.modelo + ' (' + vei.cor +')'}" th:value="${vei.id}"></option>
</select> 
ou
</span>

<a th:href="@{/registrar_veiculo}"><button>Registrar Novo Veículo</button></a>

<input type="submit" value="Requisitar Serviço e Proceder ao Pagamento"/>

</form>
